:root {
  --dark: #4a4e69;
  --white: #f2e9e4;
  --choc: #c9ada7;
  --bg: #22223b;
  --shadow: 0 2px 2px #807e7f;
}

*,
body,
html,
a {
  font-size: 1.2rem; /*16 * 1.2px */
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

/* START INVITATION  */
/* .invitation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/foto-pettine-IfjHaIoAoqE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
} */

.invitation {
  /* position: relative; */
  /* max-width: 100vw; */
  /* background-color: var(--bg); */
  min-height: 100vh;
  background-image: url(assets/foto-pettine-IfjHaIoAoqE-unsplash.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.invitation main,
.invitation p {
  color: var(--dark);
}

.invitation main h2 {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
  text-shadow: var(--shadow);
}

.invitation main h4 {
  font-size: 1.6rem;
}

.invitation main p {
  font-size: 1.5rem;
}

.invitation main a {
  margin-top: 20px;
  color: var(--white);
  background-color: var(--dark);
  transition: 0.3s;
}
.invitation main a:hover {
  color: var(--dark);
  background-color: var(--white);
}

/* END INVITATION  */

/* START HEADER  */

.header {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  background-image: url(assets/DSC_0065.JPG);
  background-size: cover;
  background-position: center;
}

.sub-head {
  /* border: 1px solid black; */
  width: 1280px;
  height: auto;
  margin: 10px auto;
  padding: 20px 80px;
}

.header .offcanvas-body,
.header .offcanvas-body .offcanvas-end {
  background-color: var(--white) !important;
}

.header .offcanvas-body .offcanvas-end .offcanvas-header {
  font-size: 3rem !important;
  text-align: right !important;
  display: block !important;
  position: relative !important;
  left: 250px !important;
}

.header .offcanvas-body .offcanvas-end ul li {
  padding-left: 10px;
}

.header .navbar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.header .navbar a {
  font-size: 20px;
  text-decoration: none !important;
  color: inherit !important;
}

/* END HEADER  */

/* SUB HEAD START  */
.sub-head {
  box-sizing: border-box;
  /* border: 1px solid black; */
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 35px 5px;
}

.sub-head .text {
  width: 70%;
  margin: auto;
  line-height: 1.5;
  font-size: 20px;
}
/* SUB HEAD END  */

/* MAIN CP START  */
.main-cp {
  box-sizing: border-box;
  /* border: 1px solid black; */
  width: 1280px;
  margin: 10px auto;
  padding: 45px 0px;
}

.main-cp h2 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
}

.main-cp .couple {
  width: 700px;
  margin: auto;
  display: flex;
  padding: 0 200px;
  justify-content: space-between;
}

.main-cp .couple .male {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.main-cp .couple img {
  width: 20px;
  /* border: 1px solid black; */
}

.main-cp .couple .female {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: right;
}

.main-cp .couple .male img,
.main-cp .couple .female img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 30px auto 10px;
}

.main-cp .couple h3 {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
}

/* END MAIN CPT START  */

/* START GALLERY  */
.gallery {
  /* border: 1px solid black; */
  width: 1280px;
  height: auto;
  padding: 30px 0 50px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.gallery .photo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery .photo img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
/* END GALLERY  */

/* START MAIN SCHEDULE  */
.main-sch {
  border: 1px solid black;
  width: 1280px;
  margin: 10px auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-sch .sub-main .desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-sch .sub-main .desc p {
  font-size: 25px;
}

.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Lato", sans-serif;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: #cce5e5;
  box-shadow: 0 1px 3px rgba(78, 60, 60, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-amount {
  font-size: 2rem;
}

.simply-word {
  font-size: 1.2rem;
}

/* END MAIN SCHEDULE  */

/* START MAIN LIVE STREAMING */
.main-ls {
  border: 1px solid black;
  width: 1280px;
  margin: 10px auto;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
/* END MAIN LIVE STREAMING  */

/* START UCAPAN DAN DOA  */

/* END UCAPAN DAN DOA  */

/* MEDIA QUERY  */
/* LAPTOP  */
@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }
}
/* TABLET  */
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
/* MOBILE PHONE  */
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
