:root {
  --dark: #4a4e69;
  --white: #f2e9e4;
  --choc: #c9ada7;
  --bg: #22223b;
  --shadow: 0 2px 2px #807e7f;
}

*,
body,
html,
a {
  font-size: 1.2rem; /*16 * 1.2px */
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.hero {
  background-image: url(assets/1667-[Converted].png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
/* START INVITATION  */
/* .invitation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/foto-pettine-IfjHaIoAoqE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
} */

.invitation {
  /* position: relative; */
  /* max-width: 100vw; */
  /* background-color: var(--bg); */
  min-height: 100vh;
  background-image: url(assets/foto-pettine-IfjHaIoAoqE-unsplash.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.invitation main,
.invitation p {
  color: var(--dark);
}

.invitation main h2 {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
  text-shadow: var(--shadow);
}

.invitation main h4 {
  font-size: 1.6rem;
}

.invitation main p {
  font-size: 1.5rem;
}

.invitation main a {
  margin-top: 20px;
  color: var(--white);
  background-color: var(--dark);
  transition: 0.3s;
}
.invitation main a:hover {
  color: var(--dark);
  background-color: var(--white);
}

/* END INVITATION  */

/* START NAVBAR  */
.fnavbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.fnavbar .offcanvas {
  height: 100vh;
}

.navbar .container h3,
.offcanvas-header h5 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
}

.offcanvas-header h5 {
  font-size: 3rem;
  padding-top: 0;
}
/* END NAVBAR  */

/* MAIN CP START  */
.main-cp {
  box-sizing: border-box;
  /* border: 1px solid black; */
  max-width: 1280px;
  margin: 10px auto;
  padding: 45px 0px;
}

.main-cp h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main-cp .couple {
  max-width: 80%;
  margin: auto;
  display: flex;
  padding: 0 2rem;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}

.main-cp .couple .male,
.main-cp .couple .female {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.main-cp .couple img {
  width: 20px;
  border-radius: 100%;
  border: 2px rgb(194, 194, 194) solid;

  /* border: 1px solid black; */
}

.main-cp .couple .heart {
  position: relative;
}

.main-cp .couple .heart .fa-beat {
  font-size: 4rem;
  position: relative;
  top: 7.5rem;
}

.main-cp .couple .male img,
.main-cp .couple .female img {
  width: 15rem;
  height: 15rem;
  /* border: 1px solid black; */
  margin: 30px auto 10px;
}

.main-cp .couple h3 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
}

/* END MAIN CP START  */

/* SUB HEAD START  */
.sub-head {
  max-width: 100%;
  text-align: center;
}

.sub-head .text {
  max-width: 58%;
  margin: auto;
  line-height: 1.5;
}

.sub-head .text h2 {
  font-size: 1.69rem;
  font-family: "Poppins", sans-serif !important;
}
/* SUB HEAD END  */

/* START LOCATION  */
.location {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  gap: 25px;
  text-align: center;
  word-spacing: 2px;
}

.location h1 {
  padding-top: 2rem;
  text-align: center;
}

.location .maps iframe {
  max-width: 100%;
}
/* END LOCATION  */

/* START GALLERY  */
.gallery {
  /* border: 1px solid black; */
  max-width: 1280px;
  height: auto;
  padding: 3rem 0 50px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.gallery h1 {
  padding-top: 40px;
}

.gallery .photo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery .photo img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
/* END GALLERY  */

/* START MAIN SCHEDULE  */
.main-sch {
  border: 1px solid black;
  max-width: 1280px;
  margin: 10px auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-sch .sub-main .desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-sch .sub-main .desc p {
  font-size: 25px;
}

.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Lato", sans-serif;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: #cce5e5;
  box-shadow: 0 1px 3px rgba(78, 60, 60, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-amount {
  font-size: 2rem;
}

.simply-word {
  font-size: 1.2rem;
}

/* END MAIN SCHEDULE  */

/* START MAIN LIVE STREAMING */
.main-ls {
  border: 1px solid black;
  max-width: 1280px;
  margin: 10px auto;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
/* END MAIN LIVE STREAMING  */

/* START UCAPAN DAN DOA  */

/* END UCAPAN DAN DOA  */

/* MEDIA QUERY  */
/* LAPTOP  */
@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .main-cp .couple {
    max-width: 80%;
    margin: auto;
    display: flex;
    padding: 0 2rem;
    justify-content: space-around;
    gap: 3.7rem;
    text-align: center;
  }
}
/* TABLET  */
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .main-cp .couple .heart .fa-beat {
    font-size: 3.5rem;
    position: absolute;
    left: -1.1rem;
    top: 90px;
  }

  .sticky-top {
    overflow: hidden;
  }
}
/* MOBILE PHONE  */
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .main-cp .couple {
    flex-direction: column;
    align-items: center;
  }

  .main-cp .couple .img img {
    width: 18rem;
    height: 18rem;
  }

  .main-cp .couple h3 {
    font-size: 3.5rem;
  }

  .main-cp .couple p {
    font-size: 1.5rem;
  }

  .offcanvas-body .nav-item a {
    font-size: 2rem !important;
    text-align: center;
  }

  .main-cp .couple .heart .fa-beat {
    font-size: 4rem;
    position: relative;
    top: 0.8rem;
    left: 0.2rem;
  }
}
