:root {
  --dark: #4a4e69;
  --white: #f2e9e4;
  --choc: #c9ada7;
  --bg: #22223b;
  --shadow: 0 2px 2px #363536;
}

*,
body,
html,
a {
  font-size: 1.2rem; /*16 * 1.2px */
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.hero {
  /* width: 100%; */
  background-image: url(assets/1667-[Converted].png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.invitation {
  min-height: 100vh;
  background-image: url(assets/DSC_0352.JPG) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.invitation main {
  position: relative;
  bottom: 9rem;
}

.invitation main,
.invitation p,
.invitation span {
  color: var(--white);
}

.invitation main h2 {
  font-family: "Dancing Script", cursive;
  font-size: 6rem;
  text-shadow: var(--shadow);
}

.invitation main h4,
span {
  font-size: 1.6rem;
}

.invitation main p {
  font-size: 1.5rem;
}

.invitation main a {
  border: 1px solid #003049 !important;
  margin-top: 20px;
  color: #264653;
  background-color: #e9c46a;
  transition: 0.3s;
}
.invitation main a:hover {
  color: var(--dark);
  background-color: #f4a261;
}

.invitation main a:active {
  background-color: var(--shadow) !important;
  color: var(--dark) !important;
}

/* END INVITATION  */

/* START NAVBAR  */
.fnavbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.fnavbar .offcanvas {
  height: 100vh;
}

.navbar .container h3,
.offcanvas-header h5 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
}

.offcanvas-header h5 {
  font-size: 3rem;
  padding-top: 0;
}

.navbar .offcanvas-body .nav-item a {
  font-size: 1.2rem !important;
  padding: 0px 1rem;
  transition: 0.3s;
}

.navbar .offcanvas-body .nav-item a:hover {
  font-size: 1.4rem !important;
  transition: font-size 0.3s !important;
}

/* END NAVBAR  */

/* MAIN CP START  */
.main-cp {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 10px auto;
  padding: 1.5rem 0px;
}

.main-cp h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main-cp .couple {
  max-width: 80%;
  margin: auto;
  display: flex;
  padding: 0 2rem;
  justify-content: space-around;
  /* gap: 2rem; */
  text-align: center;
}

.main-cp .couple img {
  width: 20px;
  border-radius: 100%;
  border: 2px rgb(194, 194, 194) solid;

  /* border: 1px solid black; */
}

.main-cp .couple .heart {
  position: relative;
}

.main-cp .couple .heart .fa-beat {
  font-size: 4rem;
  position: relative;
  top: 7.5rem;
}

.main-cp .couple .male img,
.main-cp .couple .female img {
  width: 15rem;
  height: 15rem;
  /* border: 1px solid black; */
  margin: 30px auto 10px;
}

.main-cp .couple h3 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
}

/* END MAIN CP START  */

/* START GALLERY  */
.gallery {
  max-width: 80%;
  height: auto;
  padding: 1.5rem 0 50px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gallery h1 {
  padding-top: 40px;
  font-size: 3rem;
}

.gallery .photo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gallery .photo .row1,
.gallery .photo .row2,
.gallery .photo .row3 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.gallery .photo img {
  width: 20rem;
  height: 13rem;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery .photo img:hover {
  width: 23rem;
  height: 16rem;
  transition: width 0.3s, height 0.3s;
}

.gallery .photo .img2 {
  width: 20rem;
  height: 12rem;
  margin: auto 0;
}

.gallery .photo .img2:hover {
  width: 23rem;
  height: 14rem;
}

.gallery .photo .img1,
.gallery .photo .img3 {
  width: 14rem;
  height: 20rem;
  margin: 0 auto;
}

.gallery .photo .img1:hover,
.gallery .photo .img3:hover {
  width: 16rem;
  height: 23rem;
}
/* END GALLERY  */

/* SUB HEAD START  */
.sub-head {
  background-color: var(--choc);
  max-width: 100%;
  text-align: center;
  padding: 45px 0 45px;
}

.sub-head .text {
  max-width: 58%;
  margin: auto;
  line-height: 1.5;
}

.sub-head .text h2 {
  color: #22223b;
  font-size: 1.69rem;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}
/* SUB HEAD END  */

/* START INFORMASI MAIN SCH  */

.info .main-sch {
  background-image: url(assets/frame/Lovepik_com-380120107-frame-clipart-green-leaf-vines-summer-border-botany.png);
  background-position: center;
  background-size: 90% 195%;
  background-repeat: no-repeat;
  background-position-x: 25%;
  margin: 4rem auto 0;
  max-width: 80%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3.7rem 0px;
  box-sizing: border-box;
}

.info .main-sch .desc {
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.info .main-sch h1 {
  padding: 0 2.5rem 2rem;
  /* padding-bottom: 2rem; */
  font-size: 3rem;
}

.main-sch .desc h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.info .main-sch .simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Lato", sans-serif;
  margin: auto;
  height: 3rem;
}

.simply-countdown > .simply-section .simply-amount {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  height: 5rem;
  line-height: 5rem;
  font-weight: 200;
}

.simply-countdown > .simply-days-section .simply-word {
  font-family: "Poppins", sans-serif;
  padding: 0;
  font-weight: 800;
}

.simply-countdown > .simply-section {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.simply-countdown2 {
  width: 30%;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 15px;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

.simply-countdown2 .simply-word {
  font-size: 1rem;
  font-weight: 500;
}

.simply-countdown > .simply-seconds-section,
.simply-countdown > .simply-minutes-section,
.simply-countdown > .simply-hours-section,
.simply-countdown2 > .simply-days-section {
  display: none;
}

.simply-amount {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 2.5rem;
  display: block;
  font-size: 2rem;
}

.simply-word {
  font-weight: 700;
  font-size: 1.2rem;
}

/* END INFORMASI MAIN SCH  */
/* START INFORMASI LOKASI  */
.info .location {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* padding-top: 1rem; */
  align-items: center;
  gap: 25px;
  text-align: center;
  word-spacing: 2px;
  padding: 4rem 0 3rem;
}

.info .location h1 {
  text-align: center;
  font-size: 3rem;
}

.info .location .maps iframe {
  border: 1px solid var(--dark) !important;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px 0px 50px;
}
/* END INFORMASI LOCATION  */
/* END INFORMASI  */

/* START RSVP  */
.rsvp {
  background-color: #ffb4a2;
  padding: 3rem 0 5rem;
  width: 100%;
}

.rsvp button {
  margin: 1.3rem auto 0 !important;
  background-color: var(--bg);
  border: 1px solid #22223b;
  color: var(--white);
}

.rsvp button:hover {
  color: var(--bg);
  border: 1px solid #22223b;
  background-color: var(--white);
}
/* END RSVP   */

/* START MAIN LIVE STREAMING */
.main-ls {
  background-image: url(assets/frame/Lovepik_com-380120107-frame-clipart-green-leaf-vines-summer-border-botany.png);
  background-position: center;
  background-size: 90% 150%;
  background-repeat: no-repeat;
  background-position-x: 25%;
  max-width: 100%;
  margin: 10px auto;
  padding: 5rem 10px 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.main-ls .btn {
  border: 1px solid #22223b !important;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--bg);
}

.main-ls .btn:hover {
  border-radius: 5px;
  background-color: var(--white);
  color: var(--bg);
}

hr {
  position: relative;
  left: 25%;
  width: 50%;
}

.main-ls p:last-child {
  margin-bottom: 2rem;
}
/* END MAIN LIVE STREAMING  */

/* START UCAPAN DAN DOA  */

/* END UCAPAN DAN DOA  */

/* FOOTER START  */
.footer {
  width: 100%;
  background-color: #ffb4a2;
  height: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .copyright h6 {
  font-size: 0.8rem;
}
/* FOOTER END  */

/* AUDIO START  */
.audio-icon-wrapper i {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* AUDIO END  */

/* MEDIA QUERY  */
/* LAPTOP  */

@media screen and (min-width: 993px) {
  .main-cp .couple .male,
  .main-cp .couple .female {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* gap: 7px; */
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .main-cp .couple {
    max-width: 80%;
    margin: auto;
    display: flex;
    padding: 0 2rem;
    justify-content: space-around;
    gap: 3.7rem;
    text-align: center;
  }

  .main-cp .couple .male,
  .main-cp .couple .female {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* gap: 7px; */
  }
}
/* TABLET  */
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .main-cp .couple .male,
  .main-cp .couple .female {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* gap: 7px; */
  }

  .main-cp .couple .heart .fa-beat {
    font-size: 3.5rem;
    position: relative;
    top: 8rem;
    left: 0.2rem;
  }

  .sticky-top {
    overflow: hidden;
  }

  /* .navbar .offcanvas-body .nav-item a:hover {
    /* padding: 1rem 0; */
  /* transition: 0.4s; */
  /* }  */
}
/* MOBILE PHONE  */
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .invitation main {
    position: relative;
    bottom: 8rem;
  }

  .navbar .offcanvas-body .nav-item a:hover {
    background-color: #f2e9e480 !important;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0.7rem 0;
  }

  h1 {
    font-size: 2rem;
  }
  .main-cp .couple {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .main-cp .couple .img img {
    width: 18rem;
    height: 18rem;
  }

  .main-cp .couple h3 {
    font-size: 3.5rem;
  }

  .main-cp .couple p {
    font-size: 1.5rem;
  }

  .offcanvas-body .nav-item a {
    font-size: 2rem !important;
    text-align: center;
  }

  .main-cp .couple .heart .fa-beat {
    font-size: 4rem;
    position: relative;
    top: 0.8rem;
    left: 0.2rem;
  }

  .main-cp .couple .male,
  .main-cp .couple .female {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
  }

  /* .gallery .photo {
    display: block ;
  } */

  .gallery .photo .row1,
  .gallery .photo .row2,
  .gallery .photo .row3 {
    display: block;
  }

  .gallery .photo img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 2rem;
  }

  .gallery .photo img:hover {
    width: 100%;
    height: auto;
    transition: width 0.3s, height 0.3s;
  }

  .gallery .photo .img1,
  .gallery .photo .img3 {
    width: 40%;
    height: auto;
    margin: 0 0 2rem;
    transition: 0.3s;
  }

  .gallery .photo .img3 {
    margin-top: 2rem;
  }

  .gallery .photo .img1:hover,
  .gallery .photo .img3:hover {
    width: 60%;
    height: auto;
    transition: width 0.3s, height 0.3s;
  }

  .gallery .photo .img2 {
    width: 80%;
    height: auto;
    /* margin-bottom: 2rem; */
  }

  .gallery .photo .img2:hover {
    width: 100%;
    height: auto;
    margin: auto 0;
  }

  .main-ls {
    /* max-width: 1280px; */
    background-image: url(assets/frame/Lovepik_com-380120107-frame-clipart-green-leaf-vines-summer-border-botany.png);
    background-position: center;
    background-size: 100% 195%;
    background-repeat: no-repeat;
  }

  .main-ls p,
  .info .main-sch h1 {
    padding: 0 10%;
  }

  .info .main-sch {
    max-width: 100%;
    background-image: url(assets/frame/Lovepik_com-380120107-frame-clipart-green-leaf-vines-summer-border-botany.png);
    background-position: center;
    background-size: 100% 195%;
    background-repeat: no-repeat;
  }
}
